<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.admin.mapper.AdResMapper">

  <select id="getPerfCount" resultType="int">
    select count(*) from performance
   <if test="keyword != null and keyword != ''">
    where title like concat('%', #{keyword}, '%') 
   </if> 
  </select>

  <select id="getPerfRes" resultType="com.example.demo.admin.dto.AdPerfDto">
    select p.perfId, p.title, p.sDate as startDate, p.eDate as endDate,
    count(case when r.status='reserved' then 1 end)
    as resCount, count(case when r.status='cancelled' then 1 end) as cancelCount,
    ifnull(sum(case when r.status='reserved' then r.totalPrice end), 0) as total
    from performance p left join reservation r on p.perfId=r.perfId
   <if test="keyword != null and keyword != ''">
    where p.title like concat('%', #{keyword}, '%')
   </if>
    group by p.perfId, p.title, p.sDate, p.eDate order by p.sDate desc
    limit #{start}, #{limit}
  </select>
  
  <select id="getResList" resultType="com.example.demo.admin.dto.AdResDto">
    select r.resId, m.userid, r.title, pt.showDate, pt.showTime, r.people, r.totalPrice,
    r.status from reservation r join member m on r.memberId=m.id
    join performance_time pt on r.timeId=pt.timeId
    where r.perfId=#{perfId} order by r.resId desc
  </select>




</mapper>