<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.admin.mapper.AdSeatMapper">

  <insert id="insertSeat">
    insert into performance_seat (perfId, timeId, seatRow, seatCol, reserved)
    values (#{perfId}, #{timeId}, #{seatRow}, #{seatCol}, #{reserved})
  </insert>
  
  <delete id="sdelete">
    delete from performance_seat where timeId=#{timeId}
  </delete>

</mapper>