<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.member.MemberMapper">

  <select id="useridCheck" resultType="Integer">
    select count(*) from member where userid=#{userid}
  </select>
  
  <insert id="memberOk">
    insert into member(userid,name,pwd,email,phone,writeday)
    values(#{userid},#{name},#{pwd},#{email},#{phone},now())
  </insert>
  
  <select id="getReservations" resultType="com.example.demo.member.ResViewDto">
    select r.resId, r.title, pt.showDate as date, pt.showtime as time,
    r.seatIds, r.people, r.totalPrice, r.status from reservation r join
    performance_time pt on r.timeId=pt.timeid where r.memberId=#{memberId}
    order by r.resDate desc
  </select>
  
  <select id="findRes" resultType="com.example.demo.reservation.ResDto">
    select * from reservation where resId=#{resId}
  </select>
  
  <update id="cancelRes">
    update reservation set status='cancelled' where resId=#{resId}
    and status='reserved'
  </update>
  
  <update id="chgSeatStatus">
    update performance_seat set reserved=0 where perfId=#{perfId}
    and timeId=#{timeId} and seatId in
    <foreach collection="seatIdList" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>



</mapper>

