<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.performance.PerfMapper">

  <insert id="insertPf" parameterType="com.example.demo.performance.PerfDto">
    insert into performance (title,location,sDate,eDate,imageUrl,genre,mt20id)
    values (#{title},#{location},#{startDate},#{endDate},#{imageUrl},#{genre},#{mt20id})
  </insert>
  
  <select id="keycheck" resultType="int" parameterType="com.example.demo.performance.PerfDto">
    select count(*) from performance where title=#{title}
    and sDate=#{startDate} and location=#{location}
  </select>

  
  <select id="selectAll" resultType="com.example.demo.performance.PerfDto">
    select * from performance order by sDate asc
  </select>
  
  <select id="selectGenre" resultType="com.example.demo.performance.PerfDto">
    select * from performance where genre=#{genre}
  </select>
  
  <select id="pDetail" resultType="com.example.demo.performance.PerfDto" parameterType="String">
    select perfId,title,location,sDate as startDate,
    eDate as endDate, imageUrl, genre, mt20id
    from performance where perfId=#{perfId}
  </select>
  
  <select id="getTitle" resultType="String">
    select title from performance where perfId=#{perfId}
  </select>
  
  <select id="getShowDate" resultType="String">
    select distinct showDate from performance_time where
    perfId=#{perfId} order by showDate
  </select>
  
  <select id="getShowTime" resultType="com.example.demo.performance.ShowDto">
    select pt.showDate, pt.showTime, pt.price,
    count(*) - sum(case when ps.reserved = 1 then 1 else 0 end)
    as remainSeat from performance_time pt join performance_seat ps on pt.timeId = ps.timeId
    where pt.perfId=#{perfId} and pt.showDate=#{showDate} group by pt.showDate, pt.showTime, pt.price
    order by pt.showTime
  </select>
  
  <select id="getRemainSeat" resultType="int">
    select count(*) - sum(case when reserved = 1 then 1 else 0 end)
    from performance_seat ps join performance_time pt on ps.timeId = pt.timeId
    where pt.perfId=#{perfId} and pt.showDate=#{showDate} and
    pt.showTime=#{showTime}
  </select>
  

</mapper>