<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.performance.PerfMapper">

  <insert id="insertPf" parameterType="com.example.demo.performance.PerfDto">
    insert into performance (title,location,sDate,eDate,imageUrl,genre,mt20id)
    values (#{title},#{location},#{startDate},#{endDate},#{imageUrl},#{genre},#{mt20id})
  </insert>
  
  <select id="keycheck" resultType="int" parameterType="com.example.demo.performance.PerfDto">
    select count(*) from performance where title=#{title}
    and sDate=#{startDate} and location=#{location}
  </select>

  
  <select id="selectAll" resultType="com.example.demo.performance.PerfDto">
    select * from performance order by sDate asc
  </select>
  
  <select id="selectGenre" resultType="com.example.demo.performance.PerfDto">
    select * from performance where genre=#{genre}
  </select>
  
  <select id="pDetail" resultType="com.example.demo.performance.PerfDto" parameterType="String">
    select perfId,title,location,sDate as startDate,
    eDate as endDate, imageUrl, genre from performance where perfId=#{perfId}
  </select>

</mapper>