<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.reservation.ResMapper">

  <select id="getSeatList" resultType="com.example.demo.admin.dto.AdSeatDto">
    select ps.seatId, ps.perfId, ps.timeId, ps.seatCol, ps.seatRow, ps.reserved
    from performance_seat ps join performance_time pt on ps.timeId=pt.timeId
    where pt.perfId = #{perfId} and pt.showDate = #{showDate}
    and pt.showTime = #{showTime}
    order by ps.seatRow asc, ps.seatCol asc
  </select>
  
  <select id="getTimeId" resultType="int">
    select timeId from performance_time where
    perfId=#{perfId} and showDate=#{date} and showTime=#{time}
  </select>
  
  <insert id="reservate">
    insert into reservation(memberId, perfId, timeId, seatIds, people, totalPrice, payMethod)
    values(#{memberId}, #{perfId}, #{timeId}, #{seatIds}, #{people}, #{totalPrice}, #{payMethod})
  </insert>
  
  <update id="updateSeat">
    update performance_seat set status='예약완료'
    where perfId=#{perfId} and timeId=#{timeId} and seatId in
    <!-- collection="seatIds": 배열을 대상으로 반복 예) seatIds=[A1,A2,A3]
    item="id": seatIds안의 항목을 id라는 이름으로 반복
    open: 괄호열고, 콤마, 괄호닫기
    예) seatIds=[A1,A2,A3] > In(#{id},#{id},#{id}) > in('A1','A2','A3') -->
    <foreach collection="seatIds" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>


</mapper>