<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.reservation.ResMapper">

  <select id="getSeatList" resultType="com.example.demo.admin.dto.AdSeatDto">
    select ps.seatId, ps.seatName, ps.reserved from performance_seat ps
    join performance_time pt on ps.timeId=pt.timeId where pt.perfId=#{perfId}
    and pt.showDate=#{showDate} and pt.showTime=#{showTime}
    order by ps.seatId asc
  </select>


</mapper>